<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Book Your Treatment Today</h2>
            <p class="cs-text">
                Book now to discover the difference that award-winning massage therapy can make for your body and mind.
            </p>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Book Your Session</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <!--Mobile Image -->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta-2.jpg" | resize({width: 640, height: 770}) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta-2.jpg" | resize({width: 640, height: 770}) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta-2.jpg" | resize({width: 640, height: 770}) | jpeg %}" type="image/jpeg">
        <!--Tablet Image -->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cta-2.jpg" | resize({width: 1023, height: 360}) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cta-2.jpg" | resize({width: 1023, height: 360}) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cta-2.jpg" | resize({width: 1023, height: 360}) | jpeg %}" type="image/jpeg">
        <!--Desktop Image -->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cta-2.jpg" | resize({width: 1920, height: 470}) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cta-2.jpg" | resize({width: 1920, height: 470}) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cta-2.jpg" | resize({width: 1920, height: 470}) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/cta-2.jpg" | resize({width: 1920, height: 470}) | jpeg %}" alt="massage" width="1920" height="470" loading="lazy" decoding="async" aria-hidden="true">
    </picture>
</section>
                                