<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1734">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-wrapper">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">We Trained You To Gain</h2>
            </div>
            <p class="cs-text">
                Workouts shift your body from periods of aerobic activity to periods of the best training tools for developing a strong anaerobic activity. When your body is in and “aerobic mode,” your body is using oxygen. When your body is in “anaerobic mode,” your body is using its stored energy instead of oxygen.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/specialty-techniques/" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 466, height: 676}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 466, height: 676}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 466, height: 676}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | jpeg %}" alt="speciality massage technique" width="305" height="420" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Specialty Techniques</h3>
                        <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-link.svg" alt="arrow icon" width="24" height="24" aria-hidden="true">
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="/therapeutic-treatments/" class="cs-link">
                     <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 466, height: 676}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 466, height: 676}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 466, height: 676}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | jpeg %}" alt="speciality massage technique" width="305" height="420" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Therapeutic Treatments</h3>
                        <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-link.svg" alt="arrow icon" width="24" height="24" aria-hidden="true">
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="/relaxation-wellness/" class="cs-link">
                     <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 466, height: 676}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 466, height: 676}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 466, height: 676}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | jpeg %}" alt="speciality massage technique" width="305" height="420" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Relaxation & Wellness</h3>
                        <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-link.svg" alt="arrow icon" width="24" height="24" aria-hidden="true">
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="/traditional-eastern-therapies/" class="cs-link">
                     <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 466, height: 676}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 466, height: 676}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 466, height: 676}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/featured-1.jpg" | resize({width: 710, height: 840}) | jpeg %}" alt="speciality massage technique" width="305" height="420" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Traditional Eastern Therapies</h3>
                        <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-link.svg" alt="arrow icon" width="24" height="24" aria-hidden="true">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
                                