---
title: "About | Jidpha's Spa Treatments & Therapies"
description: "Discover Jidapha Wilkinson's journey from Thailand to becoming a world champion massage therapist with 11 gold medals. Learn about her expertise and mission."
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/banner.jpg" | resize({width: 2560, height: 1136}) | avif %}">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">About Us</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/banner-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/banner-2.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/banner.jpg" alt="massage" loading="eager" width="2500" height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1443">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image -->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/about-3.jpg" | resize({width: 576, height: 724}) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/about-3.jpg" | resize({width: 576, height: 724}) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/about-3.jpg" | resize({width: 576, height: 724}) | jpeg %}" type="image/jpeg">
            <!--Tablet Image -->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/about-3.jpg" | resize({width: 1100, height: 724}) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/about-3.jpg" | resize({width: 1100, height: 724}) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/about-3.jpg" | resize({width: 1100, height: 724}) | jpeg %}" type="image/jpeg">
            <!--Desktop Image -->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/about-3.jpg" | resize({width: 1300, height: 1440}) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/about-3.jpg" | resize({width: 1300, height: 1440}) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/about-3.jpg" | resize({width: 1300, height: 1440}) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/about-3.jpg" | resize({width: 1300, height: 1440}) | jpeg %}" alt="image description" width="650" height="720" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Our Story</span>
            <h2 class="cs-title">From Thailand to International Recognition</h2>
            <p class="cs-text">
                Jidapha's journey began over 30 years ago when she arrived in the United Kingdom with little experience in massage therapy. After working briefly in a spa, she made the bold decision to fully dedicate herself to mastering the art of massage, a choice that would transform her life and career.
            </p>
             <p class="cs-text">
                Driven by a passion to elevate Thai massage to global standards, Jidapha immersed herself in extensive learning and practice. She expanded her expertise across multiple disciplines including beauty therapy, facial massage, and nail art, developing a holistic approach to wellness that addresses both body and soul.
            </p>
             <p class="cs-text">
                Today, Jidapha is recognised as an International Massage Instructor and respected global authority on Thai massage techniques. As a Certified Massage Trainer and Assessor in the UK, she has dedicated her career to not only perfecting her craft but also to training the next generation of massage therapists and sharing her knowledge throughout the world.
            </p>    
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-6">
    <div class="cs-container">
        <div id="cs-content-1792">
            <div class="cs-content">
                <div class="cs-flex-wrapper">
                    <div class="cs-flex">
                        <span class="cs-topper">Awards</span>
                        <h2 class="cs-title">Awards and Achievements</h2>
                    </div>
                </div>
                <div class="cs-wrapper">
                    <p class="cs-text">
                        Jidapha's extraordinary talent has earned her worldwide recognition, including 11 Gold Medals in just 8 months and the prestigious title "The Queen of Asian Massage."
                    </p>
                    <ul id="list-1165" class="cs-ul">
                        <li class="cs-li">Facial Lift-Up Massage World Championship – Thailand 🇹🇭 (2014) 🥇</li>
                        <li class="cs-li">IMA World Championships – Copenhagen, Denmark 🇩🇰 (2018) 🥇</li>
                        <li class="cs-li">UK National Championships – London, England 🇬🇧 (2018) 🥇🥉</li>
                        <li class="cs-li">European & International Massage Championship (2018) 🥇</li>
                        <li class="cs-li">International Massage Championship – Italy 🇮🇹 (2018) 🏆🥇</li>
                        <li class="cs-li">EMA European Massage Championship – Italy 🇮🇹 (2019) 🥇</li>
                        <li class="cs-li">International Massage Battle – Russia 🇷🇺 (2020) 🥇</li>
                        <li class="cs-li">Super Club Gold Medal Winner in Italy's top-tier massage competition</li>
                        <li class="cs-li">"Best 4 Hands Massage" awarded by the Inspiration Massage Association (2024)</li>
                        <li class="cs-li">World Reflexology Massage Champion</li>
                    </ul>          
                </div>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">16+</span>
                <span class="cs-stat-text">Years of experience</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">11</span>
                <span class="cs-stat-text">World Champion Medals</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">20+</span>
                <span class="cs-stat-text">Championships judged</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">5+</span>
                <span class="cs-stat-text">Countries as speaker</span>
            </li>
        </ul>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/about-background.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/about-background.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/about-background.jpg" alt="brick wall" width="1920" height="1282" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1658">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Mission</span>
                <h2 class="cs-title">Our Mission and Core Values</h2>
            </div>
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-number">01</span>
                    <p class="cs-li-text">
                        <strong>Excellence</strong>: We are committed to providing the highest standards of massage therapy, continuously refining our techniques and expanding our expertise to benefit our clients.
                    </p>
                </li>
                <li class="cs-li">
                    <span class="cs-number">02</span>
                    <p class="cs-li-text">
                        <strong>Education</strong>: We believe in sharing knowledge and elevating the art of Thai massage globally through training, mentorship, and international collaboration.
                    </p>
                </li>
                <li class="cs-li">
                    <span class="cs-number">03</span>
                    <p class="cs-li-text">
                        <strong>Holistic Healing</strong>: We approach each treatment as an opportunity to heal both body and soul, focusing on the complete wellbeing of every client we serve.
                    </p>
                </li>
            </ul>
        </div>  
        <div class="cs-wrapper">
            <picture class="cs-picture">
                <!--Mobile Image -->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/mission.jpg" | resize({width: 576, height: 448}) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/mission.jpg" | resize({width: 576, height: 448}) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/mission.jpg" | resize({width: 576, height: 448}) | jpeg %}" type="image/jpeg">
                <!--Tablet Image -->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/mission.jpg" | resize({width: 878, height: 726}) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/mission.jpg" | resize({width: 878, height: 726}) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/mission.jpg" | resize({width: 878, height: 726}) | jpeg %}" type="image/jpeg">
                <!--Desktop Image -->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/mission.jpg" | resize({width: 1260, height: 834}) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/mission.jpg" | resize({width: 1260, height: 834}) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/mission.jpg" | resize({width: 1260, height: 834}) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/mission.jpg" | resize({width: 1260, height: 834}) | jpeg %}" alt="shop" width="630" height="417" loading="lazy" decoding="async" aria-hidden="true">
            </picture>

            <p class="cs-review">
                <svg class="cs-quote" preserveAspectRatio="none" viewBox="0 0 100 93" fill="none" xmlns="http://www.w3.org/2000/svg" preser><g opacity=".4" clip-path="url(#a)" fill="var(--quoteColor)"><path d="M22.94 84H0L18.305.854H55L22.94 84ZM67.94 84H45L63.305.854H100L67.94 84Z"/></g><defs><clipPath id="a-1658"><path fill="#fff" transform="translate(0 .854)" d="M0 0h100v83.146H0z"/></clipPath></defs></svg>

                I owe my success to my teachers, the knowledge they imparted, the unwavering support from my family, and my insatiable thirst for learning.
            </p>
        </div>
    </div>
</section>
                                



{% endblock %}