/*-- -------------------------- -->
<---       About us             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1006 {
        padding: var(--sectionPadding);
        padding-top: 0;
        background-color: #faf2ee;
        position: relative;
        z-index: 10;

        &:before {
            /* static tiled pattern */
            content: "";
            height: 100%;
            width: 100%;
            opacity: 0.08;
            background: url("/assets/svgs/diagonal-lines.svg");
            background-size: auto;
            background-position: center;
            background-repeat: repeat;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (800/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 522px at desktop */
            max-width: (578/16rem);
            margin-top: (-16/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-spacer {
            width: 100%;
            /* 16px - 24px */
            height: clamp(1rem, 3vw, 1.5rem);
            display: block;
        }

        .cs-image-group {
            width: 100%;
        }

        .cs-picture {
            width: 100%;
            height: (261/16rem);
            background-color:  #faf2ee;
            display: block;
            position: relative;
            border-radius: (16/16rem);

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it behave like a background image */
                object-fit: cover;
                border-radius: (16/16rem);
            }
        }

        .cs-seal {
            /* changes to a clamp(104px - 190px) at desktop */
            width: (104/16rem);
            height: auto;
            /* 104px - 190px */
            /* wrapped clamp in calc function to make the value negative, and multiply by half (.5) the height to it always overlaps the bg image by half its height */
            margin-top: ~"calc(clamp(6.5rem, 12vw, 11.875rem)*-.5)";
            margin-left: auto;
            /* 28px - 120px */
            margin-right: clamp(1.75rem, 10vw, 7.5rem);
            background-color: #fff;
            border: clamp(6px, 0.8vw, 12px) solid #fff;
            border-radius: 50%;
            display: block;
            position: relative;
            /* make it rest on top of the bg picture */
            z-index: 10;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1006 {
        .cs-container {
            align-items: flex-start;
        }
        .cs-flex-group {
            flex-direction: row;
        }

        .cs-text {
            columns: 2;
            column-gap: (24/16rem);
        }

        .cs-spacer {
            display: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1006 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            /* 100px - 200px */
            gap: clamp(6.25rem, 13vw, 12.5rem);
        }

        .cs-image-group {
            max-width: (542/16rem);
            display: flex;
            justify-content: flex-end;
            position: relative;
        }

        .cs-picture {
            height: (460/16rem);
            aspect-ratio: initial;
        }

        .cs-seal {
            /* 104 - 190px */
            width: clamp(6.5rem, 13vw, 11.875rem);
            margin: 0;
            position: absolute;
            top: 50%;
            /* subtract 12px (.75rem) to account for the border */
            right: ~"calc((clamp(6.5rem, 13vw, 11.875rem)*-.5) + -.75rem)";
            transform: translateY(-50%);
        }

        .cs-content {
            flex: none;
            width: 54%;
            max-width: (542/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1006 {
            background-color: #121212;
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-picture {
                border-color: var(--dark);
                background-color: var(--dark);
            }

            .cs-topper {
                color: var(--secondary);
            }

            .cs-seal {
                border-color: var(--dark);
                background-color: var(--dark);
            }
        }
    }
}

/*-- -------------------------- -->
<---        All Massage         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1252 {
        padding: var(--sectionPadding);
        background-color: #F6EBE3;
        position: relative;
       

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            width: 100%;
            text-align: left;
            list-style: none;
            margin: 0;
            padding: 0;
            background-color: #000;
            border-radius: (24/16em);
            /* clips background image corners */
            overflow: hidden;
            box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            grid-column: span 12;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;
            z-index: 1;

            &:hover {
                .cs-item-background {
                    img {
                        opacity: 0.4;
                        transform: scale(1.3);
                    }
                }

                .cs-h3 {
                    color: var(--secondary);
                }
            }

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                border: 1px solid rgba(255, 255, 255, 0.4);
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                border-radius: (8/16rem);
                /* prevents the mouse from interacting with it so when you hover hover the other elements inside the card it doesn't block your mouse from hovering over them */
                pointer-events: none;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 10;
            }
        }

        .cs-link {
            text-decoration: none;
            /* 125px - 236px */
            /* padding goes on the link, not the cs-item as is normal. We do this because we want the whole card to be hoverable. So we add the padding to the link tag to create the space inside the card. By adding the space inside the cs-link tag we can make the whole card hoverable since the padding is now contributing to the height and widht of the link */
            padding: clamp(7.8125rem, 19vw, 14.75rem) (24/16rem) (24/16rem);
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            text-align: inherit;
            margin: 0 0 (12/16rem) 0;
            color: var(--bodyTextColorWhite);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: (450/16rem);
            margin: 0;
            padding: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-item-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #1a1a1a;
                opacity: 0.24;
                top: 0;
                left: 0;
                z-index: 1;
            }

            &:after {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(
                    top,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 1) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    top,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 1) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 1) 100%
                );
                opacity: 0.4;
                bottom: 0;
                left: 0;
                z-index: 2;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1252 {
        

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: (48/16rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-flex-group {
            width: 50%;
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1252 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1252 {
            background-color: var(--dark);
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-topper {
                color: var(--secondary);
            }
        }
    }
}
                                          

/*-- -------------------------- -->
<---    Training Course         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-946 {
        padding: var(--sectionPadding);
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;
        background-color: #faf2ee;
        z-index: 10;

        &:before {
            /* static tiled pattern */
            content: "";
            height: 100%;
            width: 100%;
            opacity: 0.08;
            background: url("/assets/svgs/diagonal-lines.svg");
            background-size: auto;
            background-position: center;
            background-repeat: repeat;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-contact-group {
            width: 100%;
            margin-bottom: (32/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: (12/16rem);
        }

        .cs-link {
            text-decoration: none;
            padding-right: (30/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (16/16rem);
            position: relative;

            &:hover {
                &:before {
                    width: 100%;
                    height: (56/16em);
                }
                .cs-wrapper {
                    transform: scale(1.2);
                }

                .cs-icon {
                    transform: translateX(0.4375rem);
                }
            }

            &:before {
                /* light green circle that animates on hover */
                content: "";
                width: (48/16rem);
                height: (48/16rem);
                background: #eff1f0;
                opacity: 1;
                position: absolute;
                display: block;
                top: 50%;
                left: 0;
                z-index: -1;
                transform: translateY(-50%);
                transition:
                    width 0.3s,
                    height 0.3s,
                    border-radius 0.3s;
            }
        }

        .cs-wrapper {
            width: (48/16rem);
            height: (48/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform 0.3s;
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
            transition: transform 0.3s;
        }

        .cs-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (4/16rem);
        }

        .cs-header {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-link-content {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: ~"min(2.24vw, .844em)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (650/16em);
            height: (687/16em);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            /* clips the image to match the border radius of the cs-picture */
            overflow: hidden;
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: (24/16em);
            }
        }

        .cs-picture1 {
            width: (349/16em);
            height: (590/16em);
            top: (49/16em);
            left: 0;
        }

        .cs-picture2 {
            width: (281/16em);
            height: (387/16em);
            top: 0;
            right: 0;
        }

        .cs-picture3 {
            width: (281/16em);
            height: (280/16em);
            bottom: 0;
            right: 0;
        }

        .cs-seal {
            width: (150/16em);
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-30%, -40%);
        }

        .cs-floater {
            display: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-946 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size: ~"min(1.15vw, 1em)";
            margin: 0;
            /* prevents flexbox from squishing it */
            flex: none;
            /* sends it to the right int he 2nd position */
            order: 2;
        }

        .cs-content {
            width: 51%;
        }
    }
}

/* Large Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
    #sbsr-946 {
        .cs-floater {
            width: (445/16rem);
            height: auto;
            display: block;
            position: absolute;
            left: (-50/16rem);
            top: (20/16rem);
            transform: scaleX(-1);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
       
        #sbsr-946 {
            background-color: rgba(0, 0, 0, .3);
            .cs-title,
            .cs-text,
            .cs-header,
            .cs-link-content {
                color: var(--bodyTextColorWhite);
                transition: color 0.3s;
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-link {
                &:before {
                    background-color: var(--accent);
                }
            }

            .cs-topper {
                color: var(--secondary);
            }

            .cs-icon {
                /* makes icons that are not black turn white */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-graphic1,
            .cs-graphic2 {
                filter: brightness(50%);
            }
        }
    }
}


/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-727 {
        padding: var(--sectionPadding);
        background-color: #F6EBE3;
        position: relative;
        

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (20/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            /* 32px - 48px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
            /* makes padding not affect height and width */
            box-sizing: border-box;
            background-color: #faf2ee;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-radius: (16/16rem);
        }

        .cs-icon {
            /* 30px - 40px */
            width: clamp(1.875rem, 4vw, 2.5rem);
            height: auto;
            margin: 0 0 (32/16rem) 0;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 4vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (24/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 4vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (48/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 500;
            margin: auto 0 0 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
            position: relative;
            &:before {
                content: "";
                width: (8/16rem);
                height: 1px;
                background: currentColor;
                display: block;
                position: relative;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-727 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .cs-item {
            width: 48.5%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-727 {
            background-color: var(--dark);
            .cs-topper,
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
            }

            .cs-topper {
                color: var(--secondary);
            }
        }
    }
}

                                


                                

                                

                                

                                

                                
                                